<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ADMOdb - Advanced Movie Database</title>
	<link rel="icon" href="img/Fevicon.png" type="image/png">

  <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css}" type="text/css" rel="stylesheet">
  <link rel="stylesheet" th:href="@{vendors/bootstrap/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{vendors/themify-icons/themify-icons.css}">
  <link rel="stylesheet" th:href="@{vendors/owl-carousel/owl.theme.default.min.css}">
  <link rel="stylesheet" th:href="@{vendors/owl-carousel/owl.carousel.min.css}">
  <link th:href="@{//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css">


  <link rel="stylesheet" th:href="@{css/style.css}">

</head>
<body>

  <!--================ Header Menu Area start =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <a class="navbar-brand logo_h" href="index"><h2 style = "color:white">ADMOdb</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-end">
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item submenu dropdown active">
                <a href="movies" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Movies</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="movies">Drama</a>
                  <li class="nav-item"><a class="nav-link" href="movies">Horror</a>
                  <li class="nav-item"><a class="nav-link" href="movies">Comedy</a>
                  <li class="nav-item"><a class="nav-link" href="movies">Romantic</a>
                  <li class="nav-item"><a class="nav-link" href="movies">Adventure</a>
                </ul>
              </li>

              <li class="nav-item"><a class="nav-link" href="profile">Profile</a>
              <li class="nav-item"><a class="nav-link" href="favoritemovie">Favorite Movies</a>

            </ul>

            <div class="nav-right text-center text-lg-right py-4 py-lg-0">
              <a class="button button-link mr-4" href="chat"><span class="align-middle"><i class="ti-comments"></i></span> Live Chat</a>
              <a class="button button-outline button-small" href="signin">Login</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->


  <!--================ Banner SM Section start =================-->
  <section class="hero-banner hero-banner-sm text-center">
    <div class="container">
      <h1>Chat Room</h1>
      <nav aria-label="breadcrumb" class="banner-breadcrumb">
        <!--<ol class="breadcrumb">-->
          <!--<li class="breadcrumb-item"><a href="#">Home</a></li>-->
          <!--<li class="breadcrumb-item active" aria-current="page">Our Features</li>-->
        <!--</ol>-->
      </nav>
    </div>
  </section>
  <!--================ Banner SM Section end =================-->


  <!--================ Feature section start =================-->

  <!------ Include the above in your HEAD tag ---------->


  <div class="container">
    <div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar"  placeholder="Search" >
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div>
          </div>
          <div class="inbox_chat">
            <div class="chat_list active_chat">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions
                    astrology under one roof.</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions
                    astrology under one roof.</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions
                    astrology under one roof.</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions
                    astrology under one roof.</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions
                    astrology under one roof.</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions
                    astrology under one roof.</p>
                </div>
              </div>
            </div>
            <div class="chat_list">
              <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                <div class="chat_ib">
                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                  <p>Test, which is a new approach to have all solutions
                    astrology under one roof.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mesgs">
          <div class="msg_history">
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Test which is a new approach to have all
                    solutions</p>
                  <span class="time_date"> 11:01 AM    |    June 9</span></div>
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>Test which is a new approach to have all
                  solutions</p>
                <span class="time_date"> 11:01 AM    |    June 9</span> </div>
            </div>
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>Test, which is a new approach to have</p>
                  <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p>Apollo University, Delhi, India Test</p>
                <span class="time_date"> 11:01 AM    |    Today</span> </div>
            </div>
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>We work directly with our designers and suppliers,
                    and sell direct to you, which means quality, exclusive
                    products, at a price anyone can afford.</p>
                  <span class="time_date"> 11:01 AM    |    Today</span></div>
              </div>
            </div>
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" class="write_msg" placeholder="Type a message" />
              <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>




    </div></div>


  <!--================ Feature section end =================-->


  <!--================ Testimonial section start =================-->
  <!--<section class="bg-gray section-padding">-->
    <!--<div class="container">-->
      <!--<div class="section-intro pb-85px text-center">-->
        <!--<h2>Happy Customer Says</h2>-->
        <!--<div class="section-style"></div>-->
      <!--</div>-->

      <!--<div class="owl-carousel owl-theme testimonial">-->
        <!--<div class="testimonial-item">-->
          <!--<div class="media">-->
            <!--<img class="testimonial-img" src="img/testimonial/testimonial1.png" alt="">-->
            <!--<div class="media-body">-->
              <!--<p>Give dry stars form. Us called an won't winged had land cru abundantly land Midst</p>-->
              <!--<h4>Forden miliard</h4>-->
              <!--<p class="testi-intro">CEO & Founder</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="testimonial-item">-->
          <!--<div class="media">-->
            <!--<img class="testimonial-img" src="img/testimonial/testimonial2.png" alt="">-->
            <!--<div class="media-body">-->
              <!--<p>Give dry stars form. Us called an won't winged had land cru abundantly land Midst</p>-->
              <!--<h4>Manel Djuice</h4>-->
              <!--<p class="testi-intro">CEO & Founder</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="testimonial-item">-->
          <!--<div class="media">-->
            <!--<img class="testimonial-img" src="img/testimonial/testimonial3.png" alt="">-->
            <!--<div class="media-body">-->
              <!--<p>Give dry stars form. Us called an won't winged had land cru abundantly land Midst</p>-->
              <!--<h4>Manel Djuice</h4>-->
              <!--<p class="testi-intro">CEO & Founder</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="testimonial-item">-->
          <!--<div class="media">-->
            <!--<img class="testimonial-img" src="img/testimonial/testimonial2.png" alt="">-->
            <!--<div class="media-body">-->
              <!--<p>Give dry stars form. Us called an won't winged had land cru abundantly land Midst</p>-->
              <!--<h4>Manel Djuice</h4>-->
              <!--<p class="testi-intro">CEO & Founder</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="testimonial-item">-->
          <!--<div class="media">-->
            <!--<img class="testimonial-img" src="img/testimonial/testimonial3.png" alt="">-->
            <!--<div class="media-body">-->
              <!--<p>Give dry stars form. Us called an won't winged had land cru abundantly land Midst</p>-->
              <!--<h4>Manel Djuice</h4>-->
              <!--<p class="testi-intro">CEO & Founder</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="testimonial-item">-->
          <!--<div class="media">-->
            <!--<img class="testimonial-img" src="img/testimonial/testimonial2.png" alt="">-->
            <!--<div class="media-body">-->
              <!--<p>Give dry stars form. Us called an won't winged had land cru abundantly land Midst</p>-->
              <!--<h4>Manel Djuice</h4>-->
              <!--<p class="testi-intro">CEO & Founder</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="testimonial-item">-->
          <!--<div class="media">-->
            <!--<img class="testimonial-img" src="img/testimonial/testimonial3.png" alt="">-->
            <!--<div class="media-body">-->
              <!--<p>Give dry stars form. Us called an won't winged had land cru abundantly land Midst</p>-->
              <!--<h4>Manel Djuice</h4>-->
              <!--<p class="testi-intro">CEO & Founder</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

    <!--</div>-->
  <!--</section>-->
  <!--================ Testimonial section end =================-->



  <!-- ================ start footer Area ================= -->
  <footer class="footer-area section-gap">
    <div class="container" style="align-items:center ; dislay:flex ; flex-direction:row ; justify-content:center">
      <h1>ADMOdb</h1>
      <div class="footer-bottom row align-items-center text-center text-lg-left" style="align-items:center ; dislay:flex ; flex-direction:row ; justify-content:center">

        <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | ADMOdb is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Group 9 Advanced Programming</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
          <a href="#"><i class="ti-facebook"></i></a>
          <a href="#"><i class="ti-twitter-alt"></i></a>
          <a href="#"><i class="ti-dribbble"></i></a>
          <a href="#"><i class="ti-linkedin"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- ================ End footer Area ================= -->

  <script th:src="@{//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
  <script th:src="@{//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>

</body>
</html>