<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ADMOdb - Advanced Movie Database</title>
	<link rel="icon" href="img/Fevicon.png" type="image/png">

  <link rel="stylesheet" th:href="@{vendors/bootstrap/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{vendors/themify-icons/themify-icons.css}">
  <link rel="stylesheet" th:href="@{vendors/owl-carousel/owl.theme.default.min.css}">
  <link rel="stylesheet" th:href="@{vendors/owl-carousel/owl.carousel.min.css}">
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">

  <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>

  <!--================ Header Menu Area start =================-->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container box_1620">
          <a class="navbar-brand logo_h" href="index"><h2 style = "color:white">ADMOdb</h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav justify-content-end">
              <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
              <li class="nav-item submenu dropdown active">
                <a href="movies" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Movies</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="movies">Drama</a>
                  <li class="nav-item"><a class="nav-link" href="movies">Horror</a>
                  <li class="nav-item"><a class="nav-link" href="movies">Comedy</a>
                  <li class="nav-item"><a class="nav-link" href="movies">Romantic</a>
                  <li class="nav-item"><a class="nav-link" href="movies">Adventure</a>
                </ul>
              </li>

              <li class="nav-item"><a class="nav-link" href="profile">Profile</a>
              <li class="nav-item"><a class="nav-link" href="favoritemovie">Favorite Movies</a>

            </ul>

            <div class="nav-right text-center text-lg-right py-4 py-lg-0">
              <a class="button button-link mr-4" href="chat"><span class="align-middle"><i class="ti-comments"></i></span> Live Chat</a>
              <a class="button button-outline button-small" href="signin">Login</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!--================Header Menu Area =================-->



  <!--================ Banner SM Section start =================-->
  <section class="hero-banner hero-banner-sm text-center">
    <div class="container">
      <h1>Movies</h1>
      <nav aria-label="breadcrumb" class="banner-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Movies</li>
        </ol>
      </nav>
    </div>
  </section>
  <!--================ Banner SM Section end =================-->


  <!--================ Movies section start =================-->
  <section class="blog_area section-margin">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-5 mb-lg-0">
          <div class="blog_left_sidebar">
            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img rounded-0" th:src="@{img/blog/main-blog/m-blog-1.jpg}" alt="" style="width:65% ; height:65%">
                <a href="movie-details" class="blog_item_date">
                  <h3><i class="fa fa-star" style="font-size:25px;color:white"></i>Rating</h3>
                  <!--<p>Jan</p>-->
                </a>
              </div>

              <div class="blog_details">
                <a class="d-inline-block" href="movie-details">
                  <h2>Title</h2>
                </a>
                <p>Release Date:</p>
                <p>Genre:</p>
                <p>Runtime:</p>
                <div class="input-group-append align-items-center text-center" style="align-items:center ; dislay:flex ; flex-direction:row ; justify-content:center">
                  <a href = "detail"><button class="button">View Movie</button></a>
                </div>
              </div>
            </article>


            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img rounded-0" th:src="@{img/blog/main-blog/m-blog-1.jpg}" alt="" style="width:65% ; height:65%">
                <a href="#" class="blog_item_date">
                  <h3><i class="fa fa-star" style="font-size:25px;color:white"></i>Rating</h3>
                  <!--<p>Jan</p>-->
                </a>
              </div>

              <div class="blog_details">
                <a class="d-inline-block" href="movie-details">
                  <h2>Title</h2>
                </a>
                <p>Release Date:</p>
                <p>Genre:</p>
                <p>Runtime:</p>
                <div class="input-group-append align-items-center text-center" style="align-items:center ; dislay:flex ; flex-direction:row ; justify-content:center">
                  <a href = "detail"><button class="button">View Movie</button></a>
                </div>
              </div>
            </article>


                                <article class="blog_item">
                                  <div class="blog_item_img">
                                    <img class="card-img rounded-0" th:src="@{img/blog/main-blog/m-blog-1.jpg}" alt="" style="width:65% ; height:65%">
                                    <a href="#" class="blog_item_date">
                                      <h3><i class="fa fa-star" style="font-size:25px;color:white"></i>Rating</h3>
                                      <!--<p>Jan</p>-->
                                    </a>
                                  </div>

                                  <div class="blog_details">
                                    <a class="d-inline-block" href="movie-details">
                                      <h2>Title</h2>
                                    </a>
                                    <p>Release Date:</p>
                                    <p>Genre:</p>
                                    <p>Runtime:</p>
                                    <div class="input-group-append align-items-center text-center" style="align-items:center ; dislay:flex ; flex-direction:row ; justify-content:center">
                                    <a href = "detail"><button class="button">View Movie</button></a>
                                  </div>
                                  </div>
                                </article>

            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img rounded-0" th:src="@{img/blog/main-blog/m-blog-1.jpg}" alt="" style="width:65% ; height:65%">
                <a href="movie-details" class="blog_item_date">
                  <h3><i class="fa fa-star" style="font-size:25px;color:white"></i>Rating</h3>
                  <!--<p>Jan</p>-->
                </a>
              </div>

              <div class="blog_details">
                <a class="d-inline-block" href="movie-details">
                  <h2>Title</h2>
                </a>
                <p>Release Date:</p>
                <p>Genre:</p>
                <p>Runtime:</p>
                <div class="input-group-append align-items-center text-center" style="align-items:center ; dislay:flex ; flex-direction:row ; justify-content:center">
                  <a href = "detail"><button class="button">View Movie</button></a>
                </div>
              </div>
            </article>


            <article class="blog_item">
              <div class="blog_item_img">
                <img class="card-img rounded-0" th:src="@{img/blog/main-blog/m-blog-1.jpg}" alt="" style="width:65% ; height:65%">
                <a href="movie-details" class="blog_item_date">
                  <h3><i class="fa fa-star" style="font-size:25px;color:white"></i>Rating</h3>
                  <!--<p>Jan</p>-->
                </a>
              </div>

              <div class="blog_details">
                <a class="d-inline-block" href="movie-details">
                  <h2>Title</h2>
                </a>
                <p>Release Date:</p>
                <p>Genre:</p>
                <p>Runtime:</p>
                <div class="input-group-append align-items-center text-center" style="align-items:center ; dislay:flex ; flex-direction:row ; justify-content:center">
                  <a href = "detail"><button class="button">View Movie</button></a>
                </div>
              </div>
            </article>



            <nav class="blog-pagination justify-content-center d-flex">
              <ul class="pagination">
                <li class="page-item">
                  <a href="#" class="page-link" aria-label="Previous">
                                      <span aria-hidden="true">
                                          <span class="ti-arrow-left"></span>
                                      </span>
                  </a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link">1</a>
                </li>
                <li class="page-item active">
                  <a href="#" class="page-link">2</a>
                </li>
                <li class="page-item">
                  <a href="#" class="page-link" aria-label="Next">
                                      <span aria-hidden="true">
                                          <span class="ti-arrow-right"></span>
                                      </span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="blog_right_sidebar">
            <aside class="single_sidebar_widget search_widget">
              <form action="#">
                <div class="form-group">
                  <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Search Movie">
                    <div class="input-group-append">
                      <button class="btn" type="button"><i class="ti-search"></i></button>
                    </div>
                  </div>
                </div>
                <button class="button rounded-0 w-100" type="submit">Search</button>
              </form>
            </aside>

            <aside class="single_sidebar_widget post_category_widget">
              <h4 class="widget_title">Genre</h4>
              <ul class="list cat-list">
                <li>
                  <a href="#" class="d-flex">
                    <p>Resaurant food</p>

                  </a>
                </li>
                <li>
                  <a href="#" class="d-flex">
                    <p>Travel news</p>

                  </a>
                </li>
                <li>
                  <a href="#" class="d-flex">
                    <p>Modern technology</p>

                  </a>
                </li>
                <li>
                  <a href="#" class="d-flex">
                    <p>Product</p>

                  </a>
                </li>
                <li>
                  <a href="#" class="d-flex">
                    <p>Inspiration</p>

                  </a>
                </li>
                <li>
                  <a href="#" class="d-flex">
                    <p>Health Care (21)</p>

                  </a>
                </li>
              </ul>
            </aside>

            </aside>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ Movies section end =================-->



  <!--================ Testimonial section start =================-->
  <!--<section class="bg-gray section-padding">-->
    <!--<div class="container">-->
      <!--<div class="section-intro pb-85px text-center">-->
        <!--<h2>Happy Customer Says</h2>-->
        <!--<div class="section-style"></div>-->
      <!--</div>-->

      <!--<div class="owl-carousel owl-theme testimonial">-->
        <!--<div class="testimonial-item">-->
          <!--<div class="media">-->
            <!--<img class="testimonial-img" th:src="@{img/testimonial/testimonial1.png}" alt="">-->
            <!--<div class="media-body">-->
              <!--<p>Give dry stars form. Us called an won't winged had land cru abundantly land Midst</p>-->
              <!--<h4>Forden miliard</h4>-->
              <!--<p class="testi-intro">CEO & Founder</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="testimonial-item">-->
          <!--<div class="media">-->
            <!--<img class="testimonial-img" th:src="@{img/testimonial/testimonial2.png}" alt="">-->
            <!--<div class="media-body">-->
              <!--<p>Give dry stars form. Us called an won't winged had land cru abundantly land Midst</p>-->
              <!--<h4>Manel Djuice</h4>-->
              <!--<p class="testi-intro">CEO & Founder</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="testimonial-item">-->
          <!--<div class="media">-->
            <!--<img class="testimonial-img" th:src="@{img/testimonial/testimonial3.png}" alt="">-->
            <!--<div class="media-body">-->
              <!--<p>Give dry stars form. Us called an won't winged had land cru abundantly land Midst</p>-->
              <!--<h4>Manel Djuice</h4>-->
              <!--<p class="testi-intro">CEO & Founder</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="testimonial-item">-->
          <!--<div class="media">-->
            <!--<img class="testimonial-img" th:src="@{img/testimonial/testimonial2.png}" alt="">-->
            <!--<div class="media-body">-->
              <!--<p>Give dry stars form. Us called an won't winged had land cru abundantly land Midst</p>-->
              <!--<h4>Manel Djuice</h4>-->
              <!--<p class="testi-intro">CEO & Founder</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="testimonial-item">-->
          <!--<div class="media">-->
            <!--<img class="testimonial-img" th:src="@{img/testimonial/testimonial3.png}" alt="">-->
            <!--<div class="media-body">-->
              <!--<p>Give dry stars form. Us called an won't winged had land cru abundantly land Midst</p>-->
              <!--<h4>Manel Djuice</h4>-->
              <!--<p class="testi-intro">CEO & Founder</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="testimonial-item">-->
          <!--<div class="media">-->
            <!--<img class="testimonial-img" th:src="@{img/testimonial/testimonial2.png}" alt="">-->
            <!--<div class="media-body">-->
              <!--<p>Give dry stars form. Us called an won't winged had land cru abundantly land Midst</p>-->
              <!--<h4>Manel Djuice</h4>-->
              <!--<p class="testi-intro">CEO & Founder</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="testimonial-item">-->
          <!--<div class="media">-->
            <!--<img class="testimonial-img" th:src="@{img/testimonial/testimonial3.png}" alt="">-->
            <!--<div class="media-body">-->
              <!--<p>Give dry stars form. Us called an won't winged had land cru abundantly land Midst</p>-->
              <!--<h4>Manel Djuice</h4>-->
              <!--<p class="testi-intro">CEO & Founder</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

    <!--</div>-->
  <!--</section>-->
  <!--================ Testimonial section end =================-->



  <!-- ================ start footer Area ================= -->
  <footer class="footer-area section-gap">
    <div class="container" style="align-items:center ; dislay:flex ; flex-direction:row ; justify-content:center">
      <h1>ADMOdb</h1>
      <div class="footer-bottom row align-items-center text-center text-lg-left" style="align-items:center ; dislay:flex ; flex-direction:row ; justify-content:center">

        <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | ADMOdb is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Group 9 Advanced Programming</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
          <a href="#"><i class="ti-facebook"></i></a>
          <a href="#"><i class="ti-twitter-alt"></i></a>
          <a href="#"><i class="ti-dribbble"></i></a>
          <a href="#"><i class="ti-linkedin"></i></a>
        </div>
      </div>
    </div>
  </footer>
  <!-- ================ End footer Area ================= -->




  <script th:src="@{vendors/jquery/jquery-3.2.1.min.js}"></script>
  <script th:src="@{vendors/bootstrap/bootstrap.bundle.min.js}"></script>
  <script th:src="@{vendors/owl-carousel/owl.carousel.min.js}"></script>
  <script th:src="@{js/jquery.ajaxchimp.min.js}"></script>
  <script th:src="@{js/mail-script.js}"></script>
  <script th:src="@{js/main.js}"></script>
</body>
</html>