<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ADMOdb - Advanced Movie Database</title>
	<link rel="icon" th:href="@{img/Fevicon.png}" type="image/png">

  <link rel="stylesheet" th:href="@{vendors/bootstrap/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{vendors/themify-icons/themify-icons.css}">
  <link rel="stylesheet" th:href="@{vendors/owl-carousel/owl.theme.default.min.css}">
  <link rel="stylesheet" th:href="@{vendors/owl-carousel/owl.carousel.min.css}">

  <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>

  <!--================ Header Menu Area start =================-->
  <header class="header_area">
      <div class="main_menu">
          <nav class="navbar navbar-expand-lg navbar-light">
              <div class="container box_1620">
                  <a class="navbar-brand logo_h" href="index"><h2 style = "color:white">ADMOdb</h2></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>

                  <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                      <ul class="nav navbar-nav menu_nav justify-content-end">
                          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                          <li class="nav-item submenu dropdown active">
                              <a href="movies" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                 aria-expanded="false">Movies</a>
                              <ul class="dropdown-menu">
                                  <li class="nav-item"><a class="nav-link" href="movies">Drama</a>
                                  <li class="nav-item"><a class="nav-link" href="movies">Horror</a>
                                  <li class="nav-item"><a class="nav-link" href="movies">Comedy</a>
                                  <li class="nav-item"><a class="nav-link" href="movies">Romantic</a>
                                  <li class="nav-item"><a class="nav-link" href="movies">Adventure</a>
                              </ul>
                          </li>

                          <li class="nav-item"><a class="nav-link" href="profile">Profile</a>
                          <li class="nav-item"><a class="nav-link" href="favoritemovie">Favorite Movies</a>

                      </ul>

                      <div class="nav-right text-center text-lg-right py-4 py-lg-0">
                          <a class="button button-link mr-4" href="chat"><span class="align-middle"><i class="ti-comments"></i></span> Live Chat</a>
                          <a class="button button-outline button-small" href="signin">Login</a>
                      </div>
                  </div>
              </div>
          </nav>
      </div>
  </header>
  <!--================Header Menu Area =================-->



  <!--================ Banner SM Section start =================-->
  <section class="hero-banner hero-banner-sm text-center">
    <div class="container">
      <h1>Profile</h1>
      <nav aria-label="breadcrumb" class="banner-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
      </nav>
    </div>
  </section>
  <!--================ Banner SM Section end =================-->

  <!--================ Profile Acount Section end =================-->
  <section class="bg-gray section-padding">
    <div class="container">
        <div class="section-intro pb-5 mb-xl-2 text-center" >
            <img class="testimonial-img" th:src="@{img/testimonial/testimonial1.png}" alt=""style="width:50%"><br><br>
            <h2 class="mb-4">Yafonia Hutabarat</h2><br><br>
                <p>Liked movies:</p>
            <br><br>
            <h3 class="mb-4"><a href = "favoritemovie">Your Liked Movies</a></h3>
        </div>
    </div>
  </section>
  <!--<section class="bg-gray section-padding">-->
      <!--<div class="container">-->
          <!--<div class="section-intro pb-85px text-center">-->
              <!--&lt;!&ndash;<h2>Your Favourite Movies</h2>&ndash;&gt;-->
              <!--<div class="section-style"></div>-->
          <!--</div>-->
          <!--&lt;!&ndash;<div style="align-items:center ; dislay:flex ; flex-direction:row ; justify-content:center">&ndash;&gt;-->

          <!--<div class="card-profile" style="align-items:center ; dislay:flex ; flex-direction:row ; justify-content:center">-->
              <!--<img class="testimonial-img" th:src="@{img/testimonial/testimonial1.png}" alt=""style="width:100%">-->
              <!--<div class="container">-->
                  <!--<h3><b>Yafonia Hutabarat</b></h3>-->
                  <!--<p>Liked Movies:</p>-->
              <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--<div class="owl-carousel owl-theme testimonial">-->
              <!--<div class="testimonial-item">-->
                  <!--<div class="media">-->
                      <!--<img class="testimonial-img" th:src="@{img/testimonial/testimonial1.png}" alt="">-->
                      <!--<div class="media-body">-->
                          <!--<h3>Yafonia Hutabarat</h3>-->
                          <!--<p style="color:black">Liked movies:</p>-->
                      <!--</div>-->
                  <!--</div>-->
              <!--</div>-->
          <!--</div>-->
      </div>

  </section>

              <!--================ Profile AccountSection end =================-->
  <!--================ Price Table section start =================-->
  <!--<section class="section-padding priceTable-bg" style = "background-color:#fff">-->
      <!--<div class="container">-->
          <!--<div class="section-intro-white pb-85px text-center">-->
              <!--<h2>Your Favourite Movies</h2>-->
              <!--<div class="section-style"></div>-->
          <!--</div>-->

          <!--<div class="priceTable-relative">-->
              <!--<div class="priceTable-wrapper">-->
                  <!--<div class="row">-->
                      <!--<div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">-->
                          <!--<div class="card text-center card-pricing">-->
                              <!--<div class="card-pricing__header">-->
                                  <!--<h4>Judul</h4>-->
                                  <!--<p>Tahun</p>-->
                                  <!--&lt;!&ndash;<h1 class="card-pricing__price"><span>$</span>45.80</h1>&ndash;&gt;-->
                                  <!--<img class="testimonial-img" th:src="@{img/testimonial/testimonial1.png}" alt="">-->
                              <!--</div>-->
                              <!--<ul class="card-pricing__list">-->
                                  <!--<li>Directed by:</li>-->
                                  <!--<li>Written by:</li>-->
                                  <!--<li>Stars:</li>-->
                              <!--</ul>-->
                              <!--<div class="card-pricing__footer">-->
                                  <!--<button class="button">View Movie</button>-->
                              <!--</div>-->
                          <!--</div>-->
                      <!--</div>-->

                      <!--<div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">-->
                          <!--<div class="card text-center card-pricing">-->
                              <!--<div class="card-pricing__header">-->
                                  <!--<h4>Judul</h4>-->
                                  <!--<p>Tahun</p>-->
                                  <!--&lt;!&ndash;<h1 class="card-pricing__price"><span>$</span>65.80</h1>&ndash;&gt;-->
                                  <!--<img class="testimonial-img" th:src="@{img/testimonial/testimonial1.png}" alt="">-->
                              <!--</div>-->
                              <!--<ul class="card-pricing__list">-->
                                  <!--<li>Directed by:</li>-->
                                  <!--<li>Written by:</li>-->
                                  <!--<li>Stars:</li>-->
                              <!--</ul>-->
                              <!--<div class="card-pricing__footer">-->
                                  <!--<button class="button">View Movie</button>-->
                              <!--</div>-->
                          <!--</div>-->
                      <!--</div>-->

                      <!--<div class="col-sm-6 col-lg-4 mb-4 mb-lg-0">-->
                          <!--<div class="card text-center card-pricing">-->
                              <!--<div class="card-pricing__header">-->
                                  <!--<h4>Judul</h4>-->
                                  <!--<p>Tahun</p>-->
                                  <!--&lt;!&ndash;<h1 class="card-pricing__price"><span>$</span>75.80</h1>&ndash;&gt;-->
                                  <!--<img class="testimonial-img" th:src="@{img/testimonial/testimonial1.png}" alt="">-->
                              <!--</div>-->
                              <!--<ul class="card-pricing__list">-->
                                  <!--<li>Directed by:</li>-->
                                  <!--<li>Written by:</li>-->
                                  <!--<li>Stars:</li>-->

                              <!--</ul>-->
                              <!--<div class="card-pricing__footer">-->
                                  <!--<button class="button">View Movie</button>-->
                              <!--</div>-->
                          <!--</div>-->
                      <!--</div>-->
                  <!--</div>-->
              <!--</div>-->
          <!--</div>-->
      <!--</div>-->
      <!--<br>-->
  <!--</section>-->
  <!--================ Price Table section end =================-->


  <!--================ Subscribe section start =================-->
  <!--<section class="bg-gray section-padding">-->
    <!--<div class="container">-->
      <!--<div class="section-intro pb-5 mb-xl-2 text-center">-->
        <!--<h2 class="mb-4">Subscribe To Get Our Newsletter</h2>-->
        <!--<p>Man greater image shall land air winged place seas replenish whose winged great fifth fruitful. Set days sea over morning.</p>-->
      <!--</div>-->

      <!--<form class="form-subscribe" action="#">-->
        <!--<div class="input-group align-items-center">-->
          <!--<input type="text" class="form-control" placeholder="Enter Your email" required>-->
          <!--<div class="input-group-append">-->
            <!--<button class="button button-shadow2" type="submit">Subscribe</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</form>-->
    <!--</div>-->
  <!--</section>-->
  <!--================ Subscribe section end =================-->


  <!--================  Dedicated server section start =================-->
  <!--<section class="section-margin">-->
    <!--<div class="container">-->
      <!--<div class="row align-items-center">-->
        <!--<div class="col-lg-5 mb-5 mb-lg-0">-->
          <!--<h2 class="mb-4">Dedicated <br class="d-none d-xl-block"> and Secured server <br class="d-none d-xl-block"> for your website</h2>-->
          <!--<p>There third us one you. Spirit tree. Together have brought bez and to wherein a so above all female likeness open herbed rappear yielding own behold fourth without. You creature kind cree There third us one your</p>-->
        <!--</div>-->
        <!--<div class="col-lg-7">-->
          <!--<div class="text-center">-->
            <!--<img class="img-fluid" th:src="@{img/home/server.png}" alt="">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->
  <!--================  Dedicated server section end =================-->




    <!-- ================ start footer Area ================= -->
  <footer class="footer-area section-gap">
      <div class="container" style="align-items:center ; dislay:flex ; flex-direction:row ; justify-content:center">
          <h1>ADMOdb</h1>
          <div class="footer-bottom row align-items-center text-center text-lg-left" style="align-items:center ; dislay:flex ; flex-direction:row ; justify-content:center">

              <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | ADMOdb is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Group 9 Advanced Programming</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
              <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
                  <a href="#"><i class="ti-facebook"></i></a>
                  <a href="#"><i class="ti-twitter-alt"></i></a>
                  <a href="#"><i class="ti-dribbble"></i></a>
                  <a href="#"><i class="ti-linkedin"></i></a>
              </div>
          </div>
      </div>
  </footer>
  <!-- ================ End footer Area ================= -->




  <script th:src="@{vendors/jquery/jquery-3.2.1.min.js}"></script>
  <script th:src="@{vendors/bootstrap/bootstrap.bundle.min.js}"></script>
  <script th:src="@{vendors/owl-carousel/owl.carousel.min.js}"></script>
  <script th:src="@{js/jquery.ajaxchimp.min.js}"></script>
  <script th:src="@{js/mail-script.js}"></script>
  <script th:src="@{js/main.js}"></script>
</body>
</html>