<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ADMOdb - Advanced Movie Database</title>
    <link rel="icon" th:href="@{img/Fevicon.png}" type="image/png">

    <link rel="stylesheet" th:href="@{vendors/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{vendors/themify-icons/themify-icons.css}">
    <link rel="stylesheet" th:href="@{vendors/owl-carousel/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{vendors/owl-carousel/owl.carousel.min.css}">

    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>

<!--================ Header Menu Area start =================-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <a class="navbar-brand logo_h" href="index"><h2 style = "color:white">ADMOdb</h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-end">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item submenu dropdown active">
                            <a href="movies" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Movies</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="movies">Drama</a>
                                <li class="nav-item"><a class="nav-link" href="movies">Horror</a>
                                <li class="nav-item"><a class="nav-link" href="movies">Comedy</a>
                                <li class="nav-item"><a class="nav-link" href="movies">Romantic</a>
                                <li class="nav-item"><a class="nav-link" href="movies">Adventure</a>
                            </ul>
                        </li>

                        <li class="nav-item"><a class="nav-link" href="profile">Profile</a>
                        <li class="nav-item"><a class="nav-link" href="favoritemovie">Favorite Movies</a>

                    </ul>

                    <div class="nav-right text-center text-lg-right py-4 py-lg-0">
                        <a class="button button-link mr-4" href="chat"><span class="align-middle"><i class="ti-comments"></i></span> Live Chat</a>
                        <a class="button button-outline button-small" href="signin">Login</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================Header Menu Area =================-->


<!--================ Banner SM Section start =================-->
<section class="hero-banner hero-banner-sm text-center">
    <div class="container">
        <h1>Sign Up</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
                <!--<li class="breadcrumb-item"><a href="#">Home</a></li>-->
                <a class="breadcrumb-item active" aria-current="page">Already have an account? <a href = "signin" style = "color:white">Log in.</a></li>
            </ol>
        </nav>
    </div>
    <!--</section>-->
    <!--================ Banner SM Section end =================-->



    <!-- ================ contact section start ================= -->
    <!--<section class="section-margin">-->
    <!--<div class="container">-->
    <!--<div class="d-none d-sm-block mb-5 pb-4">-->
    <!--<div id="map" style="height: 480px;"></div>-->
    <!--<script>-->
    <!--function initMap() {-->
    <!--var uluru = {lat: -25.363, lng: 131.044};-->
    <!--var grayStyles = [-->
    <!--{-->
    <!--featureType: "all",-->
    <!--stylers: [-->
    <!--{ saturation: -90 },-->
    <!--{ lightness: 50 }-->
    <!--]-->
    <!--},-->
    <!--{elementType: 'labels.text.fill', stylers: [{color: '#A3A3A3'}]}-->
    <!--];-->
    <!--var map = new google.maps.Map(document.getElementById('map'), {-->
    <!--center: {lat: -31.197, lng: 150.744},-->
    <!--zoom: 9,-->
    <!--styles: grayStyles,-->
    <!--scrollwheel:  false-->
    <!--});-->
    <!--}-->

    <!--</script>-->
    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpfS1oRGreGSBU5HHjMmQ3o5NLw7VdJ6I&callback=initMap"></script>-->

    <!--</div>-->


    <!--<div class="row">-->
    <!--<div class="col-12">-->
    <!--<h2 class="contact-title">Get in Touch</h2>-->
    <!--</div>-->
    <!--<div class="col-lg-8 mb-4 mb-lg-0">-->
    <!--<form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">-->
    <!--<div class="row">-->
    <!--<div class="col-12">-->
    <!--<div class="form-group">-->
    <!--<textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" placeholder="Enter Message"></textarea>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-6">-->
    <!--<div class="form-group">-->
    <!--<input class="form-control" name="name" id="name" type="text" placeholder="Enter your name">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-sm-6">-->
    <!--<div class="form-group">-->
    <!--<input class="form-control" name="email" id="email" type="email" placeholder="Enter email address">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-12">-->
    <!--<div class="form-group">-->
    <!--<input class="form-control" name="subject" id="subject" type="text" placeholder="Enter Subject">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group mt-lg-3">-->
    <!--<button type="submit" class="button button-contactForm">Send Message</button>-->
    <!--</div>-->
    <!--</form>-->


    <!--</div>-->

    <!--<div class="col-lg-4">-->
    <!--<div class="media contact-info">-->
    <!--<span class="contact-info__icon"><i class="ti-home"></i></span>-->
    <!--<div class="media-body">-->
    <!--<h3>Buttonwood, California.</h3>-->
    <!--<p>Rosemead, CA 91770</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="media contact-info">-->
    <!--<span class="contact-info__icon"><i class="ti-tablet"></i></span>-->
    <!--<div class="media-body">-->
    <!--<h3><a href="tel:454545654">00 (440) 9865 562</a></h3>-->
    <!--<p>Mon to Fri 9am to 6pm</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="media contact-info">-->
    <!--<span class="contact-info__icon"><i class="ti-email"></i></span>-->
    <!--<div class="media-body">-->
    <!--<h3><a href="mailto:support@colorlib.com">support@colorlib.com</a></h3>-->
    <!--<p>Send us your query anytime!</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</section>-->
    <!-- ================ contact section end ================= -->


    <!--================ Log In Form section start =================-->
    <!--<section class="bg-gray section-padding">-->
    <div class="container">
        <!--<div class="section-intro pb-5 mb-xl-2 text-center">-->
        <!--<h2 class="mb-4">Subscribe To Get Our Newsletter</h2>-->
        <!--<p>Man greater image shall land air winged place seas replenish whose winged great fifth fruitful. Set days sea over morning.</p>-->
        <!--</div>-->

        <form class="form-subscribe" action="#">
            <div class="input-group align-items-center text-center">
                <input type="text"  style="color:white"class="form-control" placeholder="Enter Your Full Name" required>
            </div>
            <div class="input-group align-items-center text-center">
                <input type="text"  style="color:white"class="form-control" placeholder="Enter Your Email" required>
            </div>
            <div class="input-group align-items-center text-center">
                <input type="text"  style="color:white" class="form-control" placeholder="Enter Your Password" required>
            </div>
            <div class="input-group-append align-items-center text-center" style="align-items:center ; dislay:flex ; flex-direction:row ; justify-content:center ; padding:-5px">
                <div></div>
                <button class="button button-outline align-items-center text-center" type="submit">Sign Up</button>
            </div>

        </form>
    </div>
</section>
<!--================ Log In Form section end =================-->


<!-- ================ start footer Area ================= -->
<footer class="footer-area section-gap">
    <div class="container" style="align-items:center ; dislay:flex ; flex-direction:row ; justify-content:center">
        <h1>ADMOdb</h1>
        <div class="footer-bottom row align-items-center text-center text-lg-left" style="align-items:center ; dislay:flex ; flex-direction:row ; justify-content:center">

            <p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | ADMOdb is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Group 9 Advanced Programming</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
                <a href="#"><i class="ti-facebook"></i></a>
                <a href="#"><i class="ti-twitter-alt"></i></a>
                <a href="#"><i class="ti-dribbble"></i></a>
                <a href="#"><i class="ti-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- ================ End footer Area ================= -->




<script th:src="@{vendors/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{vendors/bootstrap/bootstrap.bundle.min.js}"></script>
<script th:src="@{vendors/owl-carousel/owl.carousel.min.js}"></script>
<script th:src="@{js/jquery.form.js}"></script>
<script th:src="@{js/jquery.validate.min.js}"></script>
<script th:src="@{js/contact.js}"></script>
<script th:src="@{js/jquery.ajaxchimp.min.js}"></script>
<script th:src="@{js/mail-script.js}"></script>
<script th:src="@{js/main.js}"></script>
</body>
</html>